#p1 {
  width:300px;
  text-align:left;
  color:goldenrod
}

#palin { 
  color: blue
}

pal{
  width:400px;
  text-align:left;
  padding-left:10px;
  padding-top:10px;
  height: 1000px
}
#result {
  color: orange
}